@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is the official website of the Apahida National Theather.</p>
    <img src="https://www.rotalianul.com/wp-content/uploads/2019/06/Teatrul_National_Vasile_Alecsandri_Iasi.jpg" height="700" width="1125" alt="Theather">
    <p><br>Explore the menus to find out more.</p>

</div>
